{% extends 'base.html' %}

{% block content %}
<h1>Reset Password</h1>
<div>
    <form action="{% url 'accounts:reset_password' %}" method="POST">
        {% csrf_token %}
        <ul>
            <li><label>Password</label><input type="password" name="password" placeholder="Enter new password"></li>
            <li><label>Confirm Password</label><input type="password" name="confirm_password" placeholder="Confirm new password"></li>
        </ul>
        <input type="submit" value="reset password">
        <div>
            {% include 'include/alert.html' %}
        </div>
    </form>
</div>
{% endblock %}