{% extends 'base.html' %}

{% block content %}
<h1>Home Page</h1>
{% if user.is_authenticated %}
<h2>You have already logged in.</h2>
<p>{{ user }}</p>
{% endif %}
<hr>
<h2>Zukan</h2>
<ul>
    <li><a href="{% url 'zukan:index' 'dog' %}">Dog Zukan</a></li>
    <li><a href="{% url 'zukan:index' 'cat' %}">Cat Zukan</a></li>
</ul>
<hr>
<h2>CSV App</h2>
<ul>
    <li><a href="{% url 'csvapp:csv_import' %}">CSV import page</a></li>
    <li><a href="{% url 'csvapp:csv_export' %}">CSV export page</a></li>
</ul>
{% endblock %}